[submodule "twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "cheat.el"]
	path = vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/janmejay/textmate.el
[submodule "vendor/sunburst"]
	path = vendor/sunburst
	url = git://gist.github.com/61465.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/ecb"]
	path = vendor/ecb
	url = http://github.com/emacsmirror/ecb.git
[submodule "vendor/goodies"]
	path = vendor/goodies
	url = git://github.com/janmejay/emacs_goodies.git
[submodule "vendor/collection"]
	path = vendor/collection
	url = git://github.com/janmejay/elisp.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/haml"]
	path = vendor/haml
	url = git://github.com/mislav/haml.git
[submodule "vendor/egg"]
	path = vendor/egg
	url = git://github.com/bogolisk/egg.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/nablaone/slime.git
[submodule "vendor/clojure"]
	path = vendor/clojure
	url = git://github.com/technomancy/clojure-mode.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/scratch-el"]
	path = vendor/scratch-el
	url = http://github.com/ieure/scratch-el.git
[submodule "vendor/cedet"]
	path = vendor/cedet
	url = http://github.com/emacsmirror/cedet.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/ruby/ruby-mode"]
	path = vendor/ruby/ruby-mode
	url = git://github.com/qoobaa/ruby-mode.git
[submodule "vendor/ruby/inf-ruby"]
	path = vendor/ruby/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/ruby/ruby-compilation"]
	path = vendor/ruby/ruby-compilation
	url = git://github.com/habib/ruby-compilation.git
[submodule "vendor/zenspider"]
	path = vendor/zenspider
	url = https://github.com/zenspider/elisp.git
